<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Todo</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="taskForm">
                    <input [class.invalid]="taskForm.get('title')?.invalid" formControlName="title" type="text" class="form-control form-control-lg mb-2" id="taskTitle" placeholder="Başlık">
                    <textarea [class.invalid]="taskForm.get('description')?.invalid"  formControlName="description" class="form-control form-control-lg mb-3" id="taskDescription" placeholder="Açıklama" rows="4"></textarea>
                    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid" (click)="addTask()">Add</button>
                  </form>
                </div>
              </div>
            </div>

            <hr class="my-4">

            <!-- Görev Listesi -->
            <ul *ngIf="tasks && tasks.items">
              <li *ngFor="let task of tasks.items" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <select [ngStyle]="{'background-color': selectBackgroundColor}" (change)="onStatusChange($event)">
                    <option value="1" style="background-color: green;">Yeni</option>
                    <option value="2" style="background-color: yellow;">Yapılıyor</option>
                    <option value="3" style="background-color: red;">Tamamlandı</option>
                  </select>
                  <span [ngClass]="{'text-strikethrough': task.status}" class="ms-2">{{ task.title }}</span>
                </div>
                <div class="d-flex">
                  <a class="text-info me-2" (click)="updateTask(task)" title="Görevi Düzenle"><i class="fas fa-pencil-alt"></i></a>
                  <a class="text-danger" (click)="deleteTask(task.id)" title="Görevi Sil"><i class="fas fa-trash-alt"></i></a>
                </div>
              </li>
            </ul>

            <!-- Sayfalandırma -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" (click)="goToFirstPage()" [attr.disabled]="pageIndex === 1 ? true : null">İlk</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="prevPage()" [attr.disabled]="pageIndex === 1 ? true : null">Önceki</a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                  <a class="page-link" (click)="goToPage(pageNumber)" [ngClass]="{ active: pageNumber === pageIndex }">{{ pageNumber }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()" [attr.disabled]="pageIndex === totalPages ? true : null">Sonraki</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="goToLastPage()" [attr.disabled]="pageIndex === totalPages ? true : null">Son</a>
                </li>
              </ul>
            </nav>

            <!-- <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" (click)="goToFirstPage()">İlk</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="prevPage()">Önceki</a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                  <a class="page-link" (click)="goToPage(pageNumber)" [ngClass]="{ active: pageNumber === pageIndex }">{{ pageNumber }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()">Sonraki</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="goToLastPage()">Son</a>
                </li>
              </ul>
            </nav> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
