<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Todo</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="taskForm">
                    <input [class.invalid]="taskForm.get('title')?.invalid" formControlName="title" type="text"
                      class="form-control form-control-lg mb-2" id="taskTitle" placeholder="Başlık">
                    <textarea [class.invalid]="taskForm.get('description')?.invalid" formControlName="description"
                      class="form-control form-control-lg mb-3" id="taskDescription" placeholder="Açıklama"
                      rows="4"></textarea>
                    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid"
                      (click)="addTask()">Add</button>
                  </form>
                </div>
              </div>
            </div>

            <hr class="my-4">

            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
              <p class="small mb-0 me-2 text-muted">Filter</p>
              <select data-mdb-select-init [(ngModel)]="selectedFilter" (change)="onFilterChange()">
                <option [ngValue]="null">Hepsi</option>
                <option [value]="1">Yeni</option>
                <option [value]="2">Yapılıyor</option>
                <option [value]="3">Tamamlandı</option>
              </select>
              <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
              <select data-mdb-select-init>
                <option value="1">Added date</option>
                <option value="2">Due date</option>
              </select>
              <a href="#!" style="color: #23af89;" data-mdb-tooltip-init title="Ascending"><i
                  class="fas fa-sort-amount-down-alt ms-2"></i></a>
            </div>

            <!-- Görev Listesi -->
            <ul *ngIf="tasks.items.length > 0">
              <li *ngFor="let task of tasks.items"
                class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <select [(ngModel)]="task.status" (change)="putUpdateTaskStatus(task.id, task.status )" [ngClass]="{
                    'option-new': task.status === 1,
                    'option-in-progress': task.status === 2,
                    'option-completed': task.status === 3
                  }">
                    <option [ngValue]="1" class="option-new">Yeni</option>
                    <option [ngValue]="2" class="option-in-progress">Yapılıyor</option>
                    <option [ngValue]="3" class="option-completed">Tamamlandı</option>
                  </select>
                    <span [ngClass]="{'text-strikethrough': task.status === 3}" class="ms-2">{{ task.title }}</span>
                </div>
                <a class="badge bg-primary rounded-pill" >{{task.createdDate | date:'dd/MM/yyyy HH:mm'}}</a>

                <div class="d-flex">
                  <a class="text-info me-2" (click)="updateTask(task)" title="Görevi Düzenle"><i
                      class="fas fa-pencil-alt"></i></a>
                  <a class="text-danger" (click)="deleteTask(task.id)" title="Görevi Sil"><i
                      class="fas fa-trash-alt"></i></a>
                </div>
              </li>
            </ul>

            <!-- Sayfalandırma -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a
                    class="page-link"
                    (click)="goToFirstPage()"
                    [ngClass]="{ active: pageIndex === 1 }"
                    [attr.disabled]="pageIndex === 1 ? true : null"
                    >İlk</a
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    (click)="prevPage()"
                    [attr.disabled]="pageIndex === 1 ? true : null"
                    >Önceki</a
                  >
                </li>
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                  <a
                    class="page-link"
                    (click)="goToPage(pageNumber)"
                    [ngClass]="{ active: pageNumber === pageIndex }"
                    >{{ pageNumber }}</a
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    (click)="nextPage()"
                    [attr.disabled]="pageIndex === totalPages ? true : null"
                    >Sonraki</a
                  >
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    (click)="goToLastPage()"
                    [ngClass]="{ active: pageIndex === totalPages }"
                    [attr.disabled]="pageIndex === totalPages ? true : null"
                    >Son</a
                  >
                </li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
